.btn {
  background-color: var(--clr-yellow);
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
}

#getStarted {
  background-color: var(--clr-blue);
  border: 2px solid var(--clr-yellow);
  color: white;
  transition: all 200ms ease-in-out;
}

#getStarted:hover {
  background-color: var(--clr-yellow);
  color: var(--clr-blue);
}

#card-btn {
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  background-color: var(--clr-blue);
  transition: background-color 100ms ease-in-out;
}

#card-btn:hover {
  background-color: var(--clr-yellow);
}

#featured #card-btn {
  background-color: var(--clr-yellow);
}

#featured #card-btn:hover {
  opacity: 0.8;
}
