.services {
  background: var(--bg-gradient);
  color: var(--clr-blue);
  padding: 40px;
  padding-bottom: 30px;
  /* position: relative; */
}

.servicesTitle,
.servicesTitle + p,
.services h2 {
  text-align: center;
}

.servicesTitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.services .container {
  min-height: 500px;
}

/* .servicesTitle::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: #c3cad0;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

.servicesTitle::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #fdc137;
  left: 50%;
  top: 49.8px;
  transform: translateX(-50%);
} */

.servicesDescription {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.servicesDiscriptions {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 45%;
  position: relative;
  /* margin-bottom: 250px; */
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 10px;
}

@media (max-width: 880px) {
  .servicesDiscriptions {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .service {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 650px) {
  .service {
    width: 100%;
  }
}

.frame {
  height: 350px;
  width: 550px;
  overflow: hidden;
}

.zoomin img {
  /* width: 100%; */
  transition: all 500ms ease;
}
.service:hover img {
  transform: scale(1.2);
}

.serviceText h2 {
  transition: color 100ms;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.service:hover .serviceText h2 {
  color: var(--clr-yellow);
}

.service:hover .serviceText::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--clr-yellow);
  top: 0;
  left: 0;
}

/* .serviceText {
  position: absolute;
  top: 290px;
  left: 54%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: white;
  width: 560px;
  height: 220px;
  box-shadow: 1px 4px 14px -3px rgba(0, 0, 0, 0.24);
  transition: all 500ms ease;
} */

.serviceText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background-color: white;
  width: 90%;
  /* height: 220px; */
  box-shadow: 1px 4px 14px -3px rgb(0 0 0 / 24%);
  transition: all 500ms ease;
}

.readMore {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}
