.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-height: 1300px; */
  /* height: 40%; */
  /* min-height: 600px; */
  z-index: -1;
}

.heroImage {
  /* width: 50%; */
  height: 700px;
  /* object-fit: cover; */
}
.heroText {
  width: 50%;
}

.heroText h1 {
  font-size: 45px;
  font-weight: 600;
  color: #c3cad0;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heroText h4 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 30px;
  line-height: 1.1;
}

#hero-btn {
  padding: 13px 30px;
  font-size: 17px;
  border-radius: 25px;
  color: var(--clr-blue);
  border: 2px solid var(--clr-yellow);
  transition: all 200ms ease-in-out;
}

#hero-btn:hover {
  background-color: var(--clr-blue);
  border-radius: 25px;
  color: white;
}

@media (max-width: 1000px) {
  .hero .container {
    flex-direction: column;
  }
  .heroText {
    width: 80%;
  }
  .heroImage {
    height: 400px;
  }
}
