.card {
  background-color: white;
  padding: 30px 80px 100px;
  box-shadow: 2px 9px 19px 0px rgba(0, 0, 0, 0.1);
}

.card h1,
.card h4,
.card-btn {
  text-align: center;
}

.cardTitle {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

.cardPrice {
  font-weight: 500;
  font-size: 50px;
  color: var(--clr-yellow);
}

.cardPlan {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

#featured {
  z-index: 2;
  transform: scale(1.1);
  border: var(--clr-yellow) 1px solid;
  position: relative;
}

#featured::before {
  content: "FEATURED";
  position: absolute;
  top: -10px;
  left: 50%;
  background-color: var(--clr-yellow);
  color: white;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  transform: translateX(-50%);
  padding: 3px 0;
}

.cardList {
  color: #979797;
  margin-bottom: 30px;
}
