.navbar .container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: var(--clr-light-gray);
}

.navLogo h1 {
  flex-basis: 40px;
  font-size: 20px;
  letter-spacing: 3px;
  /* margin-right: 80px; */
}

.navLogo h1 span {
  color: var(--clr-yellow);
}

.dot {
  color: var(--clr-yellow);
  font-size: 30px;
}

.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.navList > p:hover {
  color: white;
  cursor: pointer;
}

.navList > p {
  margin-right: 20px;
}
#active {
  color: white;
}

@media (max-width: 1000px) {
  .navList {
    visibility: hidden;
  }
}
