.footer {
  height: 500px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 90px;
  background-repeat: no-repeat, repeat;
  background-color: var(--clr-blue);
  background-image: url("../../img//footer-bg.jpg");
  background-blend-mode: darken;
}

.footer h1 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}

.footerContainer {
  text-align: center;
  width: 700px;
  margin: auto;
}

.footerContainer i {
  margin-bottom: 20px;
  display: block;
}

.inputButtonWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  /* padding: 10px 0; */
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.inputButtonWrapper input {
  flex-basis: 100%;
  padding: 10px;
  border: none;
  height: 30px;
  font-size: 17px;
}

.inputButtonWrapper input:focus {
  outline: none;
}

#footer-btn {
  height: 40px;
  color: white;
}

#footerIcons > * {
  color: white;
  transition: 200ms color ease-in-out;
}

#footerIcons > *:hover {
  color: var(--clr-yellow);
}
