.App {
  color: white;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.heroContainer {
  background-color: var(--clr-blue);
  /* height: 730px; */
  /* height: 100vh; */
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
